# --- Appearance and Colors ---
background_color        0.0725 0.0725 0.0725

# Status Bar Settings
status_bar_color        0.0725 0.0725 0.0725
status_bar_text_color   1 1 1
status_bar_font_size    12

# Page Separators
page_separator_width    2
page_separator_color    0.0725 0.0725 0.0725

# Start with Table of Contents collapsed
collapsed_toc           1
